* {
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}
  body {
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#1d2332;
}

article {
  height:800px;
  width:330px;
  padding-top:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  background: rgb(0,239,255);
  background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4e54c8 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
}
.bio{
  width: 230px;
  height: 230px;
  background-color: transparent;
}
.avatar{
  width: 200px;
  height: 200px;
  background-color: transparent;
}

/* click met javascript */
.flip-around .avatar-inner, .flip-around .vegan-inner, .flip-around .guitar-inner, .flip-around .universe-inner, .flip-around .bio-inner,.flip-around .spain-inner{
  transform: rotateY(180deg);
}
/* .avatar:hover .avatar-inner, */

.avatar-inner, .bio-inner{
	position: relative;
  width: 100%;
  height: 100%;
	transition: transform 1s;
  transform-style: preserve-3d;
}

.avatar-front, .avatar-back, .bio-front, .bio-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
	display:flex;
	justify-content:center;
	align-items: center;
}
.bio-front{
  background-color: mediumaquamarine;
  border-radius: 50%;
}

.avatar-back, .bio-back{
  transform: rotateY(180deg);
  background-color: lightcyan;
  border-radius:50%;
}
.avatar-img{
  max-width:200px;
  max-height: 200px;
  border-radius: 50%;
  object-fit:fill;
}


/* emoji size */

.emoji-bio{
  font-size: 5rem;
}

.emoji{
  font-size: 4rem;
}

/* kleinere rondjes */

.spain, .vegan, .guitar, .universe{
  width: 165px;
  height: 165px;
  background-color: transparent;
}

.spain-inner, .vegan-inner, .guitar-inner, .universe-inner{
  position: relative;
  width: 100%;
  height: 100%;
	transition: transform 1s;
  transform-style: preserve-3d;
}

.spain-front, .spain-back, .vegan-front, .vegan-back, .guitar-front, .guitar-back, .universe-front, .universe-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
	display:flex;
	justify-content:center;
	align-items: center;
}

.spain-back, .vegan-back, .guitar-back, .universe-back{
  transform: rotateY(180deg);
  background-color: lightcyan;
  border-radius:50%;
}


.spain-front, .vegan-front, .guitar-front, .universe-front{
  background-color: mediumaquamarine;
  border-radius: 50%;
}

/* Flexbox spain/vegan */

.flexbox-container{
  display:flex;
}


/* tekst in de rondjes */
p{
  padding: 20px;
}


